body {
    padding: 0;
    margin: 0;
    background: cornsilk;
    font-family: monospace;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calcBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 5px;
    border-color: turquoise;
    background: teal;
    width: 90vw;
    margin: 2vw;
    padding: 4vw;
    border-radius: 35px;
}

.title {
    display: flex;
    align-self: center;
    text-align: center;
    color: navy;
}

.display {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    background: lightgrey;
    width: 70vw;
    height: 10vw;
}

#result {
    display: flex;
    text-align: right;
    height: 5vw;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calc-btn, .special-btn {
    width: 15vw;
}

.calc-btn, #percent {
    color: navy;
    font-weight: bolder;
    border-radius:5px;
}

.special-btn {
    color: #ffffff;
}

#clearAll {
    background-color: #D00000;
}

#clearLast {
    background-color: #FFBA08;
}

#total {
    background-color: #3F88C5;
}

#zero {
    width: 30vw;
}
